h1 Welcome to authentication in Node.js

form(action='/', method='POST')
  .input-group
    input(type='submit', value='Login')
form(action='/', method='POST')
  .input-group
    input(type='submit', value='Register')
