form(action='/register', method='POST')
  .input-group
    label(for='email') Email
    input(type='email', name='email', value=email, autofocus, required)
  .input-group
    label(for='password') Password
    input(type='password', name='password', required)
  .input-group
    if message
      p= message
    label(for='verify') Verify Password
    input(type='password', name='verify', required)
  .input-group
    input(type='submit', value='Register')
